body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    background-image: url(images/soft-focus-beautiful-scenary-mist-260nw-354707522.webp);
    background-size: cover;

}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 20.5);
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
